@import "tailwindcss";

@theme{
  --color-primary-200: rgb(255 11 0);
  --color-primary-100: rgb(255 201 41);   

  --color-secondary-200: rgba(0 176 80);
  --color-secondary-100: rgba(11 26 120);
  --color-mint-500: oklch(0.72 0.11 178);
}


